* {
    text-decoration: none;
    border: none;
  }

  header > nav > a {
    text-decoration: none;
    color: #000001;
  
    transition: 0.3s ease-in-out;
  }
  
  header > nav > a:hover {
    color: #00a000;
  }
  
  .compras > button {
    background-color: transparent;
    border: 1px solid #00a000;
    color: #00a000;
    font-size: 16px;
  
    width: 105px;
    height: 40px;
    border-radius: 10px;
    text-align: center;
  
    transition: 0.3s ease-in-out;
  }
  
  .compras > button:hover {
    background-color: #00a000;
    color: #fff;
  }

  .order {
    width: 144px;
    height: 45px;
  
    background-color: #00a000;
    color: #fff;
    border-radius: 10px;
  
    transition: 0.3s ease-in-out;
  }
  
  .order:hover {
    background-color: transparent;
    border: 1px solid #00a000;
    color: #00a000;
  }
  
  .explore {
    background-color: transparent;
    border: 1px solid #00a000;
    color: #00a000;
  
    width: 188px;
    height: 45px;
    border-radius: 10px;
  
    transition: 0.3s ease-in-out;
  }
  
  .explore:hover {
    background-color: #00a000;
    color: #fff;
  }
  
  .special-foods > article > div > div > button {
    width: 250px;
    height: 45px;
    border-radius: 10px;
  
    background-color: #00a000;
    color: #fff;
  
    font-size: 16px;
  
    transition: 0.3s ease-in-out;
  }
  
  .special-foods > article > div > div > button:hover {
    background-color: transparent;
    border: 1px solid #00a000;
    color: #00a000;
  }
  
  .about-us > main > button {
    width: 250px;
    height: 45px;
    border-radius: 10px;
  
    background-color: #00a000;
    color: #fff;
  
    font-size: 16px;
  
    transition: 0.3s ease-in-out;
  }
  
  .about-us > main > button:hover {
    background-color: transparent;
    border: 1px solid #00a000;
    color: #00a000;
  }
  
  .subscribe > div > input {
    margin-left: 200px;
  }

  